vid2vtf.spec
/.venv
/__pycache__
/build
/dist
/test_vid2vtf
*.egg-info
/materials
/sound
/src/vid2vtf.egg-info
/src/vid2vtf/__pycache__
test*.py
view.vmt
uninstall_pkg.txt
/.pytest_cache
__pycache__

